{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Registered</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    {{ message }}
    <p>Return to Homepage.</p>
    <h1><a href="{% url 'post_list' %}">Django Boys</a></h1>

</body>
</html>