{% load staticfiles %}
<html>
  <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>{% block title %}Django Boys{% endblock %}</title>



    <title>Django Boys Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
        <p class="top-menu"><small>Welcome, <a href="{% url 'profile' %}">{{ user.username }}</a> (<a href="{% url 'logout' %}">Log out</a>)</small></p>
        <a href="{% url 'post_new' %}" class="top-menu"><small>New Post</small></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><small>Pending Posts</small></a>
        <a href="{% url 'post_comment_draft_list' %}" class="top-menu"><small>My Posts</small></a>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu">Sign In</a>
        <a href="{% url 'signup' %}" class="top-menu">Sign Up</a>


        {% endif %}
      <h1><a href="{% url 'post_list' %}">Django Boys</a></h1>
    </div>

    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    {% endblock body %}
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
