{% extends 'blog/base.html' %}

{% block content %}
<h3>Pending post List</h3>
  {% for post in posts %}
    {% if user == post.author or user.is_superuser %}
    <div class="post">
      <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p>{{ post.text | truncatechars:200 }}</p>
      <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
      <p class="owner">created by: {{ post.author }}</p>
    </div>
    {% endif %}
  {% empty %}
      <p>You have no pending posts!</p>
  {% endfor %}

{% endblock content %}
