{% extends 'blog/base.html' %}


{% block content %}
  <div class="post">
    {% if user.is_superuser or user == post.author%}
      {% if not post.published_date and user.is_superuser%}
        <a class="btn btn-primary" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
      {% endif %}
      <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    {% if user = post.author and not user.is_superuser and not post.published_date %}
      <p>You are not superuser. You cannot publish the post.</p>
    {% endif %}


    <h1>{{ post.title }}</h1>
    {% if post.image %}
      <img src="{{ post.image.url }}" class="img-responsive" />
    {% endif %}
    <p>{{ post.text | linebreaksbr }}</p>
    <p>created by: {{ post.author }}</p>
    <div class="date">
      <p> Created on: {{ post.created_date }}</p>
    </div>
  </div>


  <hr>


  <h3>Comments:   <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">New comment</a></h3>
  {% for comment in post.comments.all %}
    {% if user == comment.author or comment.approved_comment or user == post.author %}
      <div class="comment">
        {% if not comment.approved_comment and user == post.author %}
          <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
        {% endif %}
        <strong>{{ comment.author }}</strong>
        <p>{{comment.text | linebreaks }}</p>
      </div>
      <div class="date">
        {{ comment.created_date }}
      </div>
      {% if comment.author == user or user == post.author %}
        <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">remove</a>
      {% endif %}
    {% endif %}
  {% empty %}
    <p>No comments here yet :(</p>
  {% endfor %}
{% endblock content %}
