{% extends 'blog/base.html' %}

{% block title %}Django Posts{% endblock %}

{% block content %}
<h3>List of all published posts</h3>
  {% for post in posts %}
    <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        {% if post.image %}
            <img src="{{ post.image.url }}" class="img-responsive" />
        {% endif %}
        <p>{{ post.text|linebreaksbr | truncatewords:40}}</p>
        <p>Created by: {{ post.author }}</p>
      <div class="date">
        <p>published on: {{ post.published_date }}</p>
      </div>
        <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
    </div>
  {% endfor %}
{% endblock content %}
